apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-infra-demo-deployment
  namespace: prod
  labels:
    app: ml-infra-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ml-infra-demo
  template:
    metadata:
      labels:
        app: ml-infra-demo
    spec:
      containers:
        - name: ml-infra-demo
          image: gansoronzon/fastapi-ml-infra-demo:v0.3
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
